<div class="container">
    <div class="row bg-light">
        <div class="col-12 col-sm-12 div-md-12 col-lg-12 div-xl-12 div-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center mb-5">
                    <h1 class="text-dark" class="font-monospace" style="font-weight:bold">Employee Registration Page
                    </h1>
                </div>


                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Employee Id</label>
                    <input name="employeeId" [(ngModel)]="employeeId" type="text" placeholder="employee id" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">First Name</label>
                    <input name="firstName" [(ngModel)]="firstName" type="text" placeholder="fist name" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Last Name</label>
                    <input name="lastName" [(ngModel)]="lastName" type="text" placeholder="last name" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">House Number</label>
                    <input name="houseNumber" [(ngModel)]="houseNumber" type="text" placeholder="house number" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">House Name</label>
                    <input name="houseName" [(ngModel)]="houseName" type="text" placeholder="house name" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Street Name</label>
                    <input name="streetName" [(ngModel)]="streetName" type="text" placeholder="street name" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Pin Code</label>
                    <input name="pincode" [(ngModel)]="pincode" type="text" placeholder="pin code" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">District</label>
                    <input name="district" [(ngModel)]="district" type="text" placeholder="district" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">State</label>
                    <input name="state" [(ngModel)]="state" type="text" placeholder="state" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Country</label>
                    <input name="country" [(ngModel)]="country" type="text" placeholder="country" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Mobile Number</label>
                    <input name="mobileNumber" [(ngModel)]="mobileNumber" type="text" placeholder="mobile number" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Email Id</label>
                    <input name="emailId" [(ngModel)]="emailId" type="text" placeholder="email id" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Parent Name</label>
                    <input name="parentName" [(ngModel)]="parentName" type="text" placeholder="parent name" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Gender</label>
                    <input name="gender" [(ngModel)]="gender" type="text" placeholder="gender" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Highest Degree</label>
                    <input name="highestDegree" [(ngModel)]="highestDegree" type="text" placeholder="highest degree" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Year Of Experience</label>
                    <input name="dateOfJoining" [(ngModel)]="dateOfJoining" type="text" placeholder="year of experience" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Date Of Joining</label>
                    <input name="dateOfJoining" [(ngModel)]="dateOfJoining" type="text" placeholder="date of joining" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Username</label>
                    <input name="username" [(ngModel)]="username" type="text" placeholder="username" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Password</label>
                    <input name="password" [(ngModel)]="password" type="text" placeholder="password" class="form-control">
                </div> 
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Confirm Password</label>
                    <input name="confirmPassword" [(ngModel)]="confirmPassword" type="text" placeholder="confirm password" class="form-control">
                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center mt-5">
                    <button (click)="readValue()" class="btn btn-dark font-monospace py-1">Register</button>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                   <a routerLink="/employeeLogin" class="font-monospace">Backto employee login</a>
                </div>
           
        </div>
    </div>
</div>