<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row mt-2">
                <h3 class="font-monospace text-center" style="font-weight:bold">Administraion Login</h3>

                <div class="row g-3 mt-5 d-flex align-items-end flex-column ">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 ">
                        <label for="" class="form-label font-monospace">Username</label>
                        <input type="text" placeholder="username" id="" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 ">
                        <label for="" class="form-label font-monospace">Password</label>
                        <input type="password" placeholder="password" id="" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 text-center ">
                        <button class="btn btn-dark font-monospace py-1">Login</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>