<div class="container">
    <div class="row bg-light">
        <div class="col-12 col-sm-12 div-md-12 col-lg-12 div-xl-12 div-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h2 class="text-dark" class="font-monospace" style="font-weight:bold">Add Course</h2>
                </div>
                
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Course Title</label>
                    <input type="text" placeholder="course title" class="form-control">
                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label font-monospace">Description</label>
                    <textarea  placeholder="course description" class="form-control" id="" cols="30" rows="4"></textarea>
                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Date</label>
                    <input type="date"  placeholder="date" class="form-control">
                </div>
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Duration</label>
                    <input  placeholder="duration" class="form-control">
                </div>
                
               
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Venue</label>
                    <input type="text" placeholder="venue" class="form-control">
                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center py-5">
                    <button  class="btn btn-danger font-monospace py-1">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>