<app-nav-admin></app-nav-admin>

<div style="background-color:rgb(205, 164, 164);">

    <div class="container ">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-4">
                    <h2 class="text-center font-monospace fw-bold mb-4">All Course Details</h2>
                </div>
                <table class="table font-monospace ">
                    <thead class="bg-light">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Date</th>
                            <th scope="col">Venue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="loading; then loadingScreen; else dataScreen"></ng-container>

                        <ng-template #loadingScreen>
                            <div class="spinner-grow text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow text-secondary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow text-success" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow text-danger" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow text-warning" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow text-info" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow text-light" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow text-dark" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </ng-template>

                        <ng-template #dataScreen>

                            <tr *ngFor="let i of courses">
                                <td>{{i.courseTitle}}</td>
                                <td>{{i.courseDescription}}</td>
                                <td>{{i.courseDuration}}</td>
                                <td>{{i.courseDate}}</td>
                                <td>{{i.courseVenue}}</td>
                            </tr>

                        </ng-template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>