<app-nav-employee></app-nav-employee>


<div class="container ">
    <div class="row bg-light">
        <div class="col-12 col-sm-12 div-md-12 col-lg-12 div-xl-12 div-xxl-12">
            <div class="row g-3 mt-4 ">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h1 class="text-dark" class="font-monospace" style="font-weight:bold">Add Friend</h1>
                </div>
                
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6 ">
                    <label for="" class="form-label font-monospace">Name</label>
                    <input type="text"  placeholder="name" class="form-control">
                </div>
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Friend Name</label>
                    <input type="text" placeholder="friend name" class="form-control">
                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
                    <label for="" class="form-label font-monospace">Describe Your Friend</label>
                    <input type="text" placeholder="describe your friend" class="form-control">
                </div>
               
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6 ">
                    <label for="" class="form-label font-monospace">Friend Nickname</label>
                    <input type="text" placeholder="nickname" class="form-control">
                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center my-5">
                    <button class="btn btn-dark font-monospace py-1">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>